








@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Exo+2');
/* navlink should be display none at mobile version only show toggler */
/* On full width device toggler should be display none*/
\

/*Site Wide styling*/
html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}

.padding {
    padding-top: 3em;
    padding-bottom: 3em;
}
.padding2{
	padding-top: 1em;
	padding-bottom: 1em;
}
h1,
h2,
h3,
h4,
h5,
.btn,
.a {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    color: #948ABC;
}

.btn {
    border: 2px solid #948ABC;
    background-color: transparent;
}

.btn:hover {
    border: 2px solid #948ABC;
    background-color: #948ABC;
    color: black;
}

hr {
    border: .6px solid lightgrey;
}

/*Parallax scrolling*/
.parallax {
    background-size: cover;
    height: 45vw;
    background: transparent;
}

/*
.parallax {
	background-image: url("img/background/slider 3.jpg"); 
	min-height: 500px; 

  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
} 
*/




/*Navigation*/
nav {

}

ul {
    font-family: 'Exo 2', sans-serif;
    margin: 0 auto;
    background-color: white;
}

.navbar-nav li {

    padding: 0px 2vw;
}


.nav-link {
    font-size: 1.1em !important;

}

.navbar {
    background-color: white;
}

.dropbtn {

}

.dropdown .dropbtn {
    outline: none;
}

.dropdown-content {

    display: none;
    position: absolute;
    left: 0;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    display: block;
    color: black;
}

.dropdown-content a:hover {
    text-decoration: none;
    background-color: black;
    color: white;

}

.dropdown:hover .dropdown-content {
    display: inline;
    background-color: white;
}

.navbar-toggler {
    margin: 0 auto;
}

/*Portfolio card section*/
.card {
    border-radius: 0 !important;
    background-color: black;
    box-shadow: 1px 1px 8px 1px #383838;
	margin: 1.5em;

}


.portfsec {
    background-color:#151414;
    margin-top: -5px;
}

/*Contact section*/
.contactsec {
	display: block;
    background-color: white;
    width: 100%;
}

/*Getting rid of the standard border-radius of bootstrap*/
.btn-outline-secondary {
    border-radius: 0 !important;
}

/*Social Media section*/
.social a {
    font-size: 4.5em;
    padding: 3rem;
}

.fa-facebook:hover {
    transition: 0.5s;
    color: #3b5998;

}

.fa-twitter:hover {
    transition: 0.5s;
    color: #00aced;
}

.fa-google-plus-g:hover {
    transition: 0.5s;
    color: #dd4b39;
}

.fa-instagram:hover {
    transition: 0.5s;
    color: #517fa4;
}

.fa-youtube:hover {
    transition: 0.5s;
    color: #bb0000;
}

.fa-facebook,
.fa-twitter,
.fa-google-plus-g,
.fa-instagram,
.fa-youtube {
    transition: 0.5s;
    color: black;
}

/*Footer*/
footer {
    background-color: black;
    color: white;
    padding: 1em;

}





li .active {
  border-bottom: 2px solid silver;
  border-top: 2px solid silver;
  border-radius: 8px;
}



@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*Photography page*/
.monochrome-carousel{
  background-color: #151414;
  padding-top: 5em;
}
.polychrome-carousel{
  background-color: #948ABC;
  padding-top: 5em;
}
.polychrome-carousel h3{
  color: black;
  padding-bottom: 2em;
}
.monochrome-carousel h3{
  padding-bottom: 2em;
}
/* Owl Carousel*/

.item:hover{

}
.owl-stage-outer{

}

/*About page*/
.aboutwrapper {
	padding-top: 3em;
	padding-bottom: 3em;
	background-image: url("img/Compressed/caroline_yip.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.opacitylow {
	background:rgba(255, 255, 255, 0.65) !important;
	font-weight: 800;
	font-size: 17px;
}

/*Contact Page*/
.contactpage{
  background-color: #151414;
  padding:4em;

}
.form{
  display: block;
  text-align: center;
}

.contact-header{
  padding-top: 6em;
}
input, textarea{
  border: 2px solid white; 
  background-color:  #151414;
  color: white;
  width: 40vw;
  font-family: 'Exo 2', sans-serif;
  padding:.8em;
}
input::placeholder, textarea::placeholder{
  color: white;
  font-family: 'Exo 2', sans-serif;
  padding: .8em;
}

textarea{
  height: 20vh;
}
.submit {

}

/* ----Media Queries---- */
@media (min-width: 1350px) {
	.card{
		margin: 5em;
	}

}
@media (max-width: 992px) {
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
	.card-body h2{
	font-size: 25px;
}
}
@media (max-width: 862px) {

	.card-body h2{
	font-size: 20px;
}
}

@media (max-width: 768px) {
    .social a {
        font-size: 2.5em;
        padding: 1.2rem;
    }

    .dropdown-content {
        position: relative;
    }

}

@media (max-width: 576px) {
    .social a {
        font-size: 2em;
        padding: .7rem;
    }
}


